<% layout('layouts/boilerplate') %>
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const campgrounds = { features: <%- JSON.stringify(camps) %>};
    console.log('Campgrounds: ', campgrounds);
</script>

<div id="cluster-map"></div>

<h1>Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<% for(let c of camps) { %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <% if(c.images.length) { %>
                <img crossorigin="anonymous" class="img-fluid" alt="" src="<%= c.images[0].url %>">
                <% } else { %>
                    <img crossorigin="anonymous" class="img-fluid" alt="" src='https://res.cloudinary.com/dvsil1zfi/image/upload/v1741295703/YelpCamp/m1onxjmuuzz7lqw9aj2y.jpg'>
                <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= c.title%></h5>
                    <p class="card-text"><%= c.description%></p>
                    <p class="card-text">
                        <small class="text-muted"><%= c.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%=c._id%>">View <%=c.title %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>

<script src="/js/clusterMap.js"></script>